  body {
    padding: 0em;
    background-color: #D6E6F2;
    color: #2c3b4e;
  }
  hr {
    width: 25%;
    border-style: dotted none none;
    border-width: 0.5em;
    height: 0px;
    color: #2c3b4e;
  }
  h2 {
      color: #2c3b4e;
  }
  .pagehead {
    border-radius: 1em;
    background-color: #2c3b4e;
    padding: 1em;
    width: 100%;
    color: aliceblue;
    text-align: center;
  }

  #headshot {
    height: 150px;
  }

  #headshot:hover {
    height: 175px;
  }